version: '2'

services:
    app:
      build: ./
      container_name: docker-hosts-dns
      command: -vvv
      volumes:
          - ./:/usr/local/app
          - /var/run/docker.sock:/var/run/docker.sock
          - /etc:/opt/etc
